@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Antic', sans-serif;
}

header {
    background-color: gray;
    padding: 10px;
    color: white;
}

#welcome {
    display: block;
    padding: 10px;
    width: 85%;
    font-size: 4vw;
    text-align: center;
    margin: 0 auto;
}

.arrow {
    display: none;
}

.cardSlider {
    width: 100%;
    height: auto;
    padding: 20px;
    vertical-align: top;
    z-index: -10;
    white-space: nowrap;
    overflow: hidden;
}

.cardList {
    list-style-type: none;
    padding: 0;
    display: flex;
    overflow-x: auto;
    max-width: 100%;
}

.cardList::-webkit-scrollbar {
    display: none;
}

#projectsCardList {
    margin: 0;
    position: relative;
}

.card {
    height: 360px;
    min-width: 86vw;
    padding: 20px;
    margin: 10px 10px 10px 0;
    border-radius: 1em;
    border: 1px solid black;
    white-space: normal;
    flex: 1;
    box-shadow: 3px 3px 5px lightgrey;
    overflow: auto;
}

.card p {
    font-size: 1em;
    text-align: center;
}

.card a, a:active, .card a:visited {
    color: black;
}

.card a:hover, .card a:active {
    color: blue;
}

#aboutMe {
    padding: 0 20px;
    text-align: justify;
}

footer {
    margin: 40px 0 20px;
    width: 100%;
    text-align: center;
}

/* Headers */

h1 {
    display: block;
    font-size: 12vw;
    padding: 10px 10px 0;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    font-family: sans-serif;
    letter-spacing: -3px;
    line-height: 100%;
}

h2 {
    font-size: 2em;
    margin: 10px 0;
}

h3 {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 10px;
}

@media screen and (min-width: 440px) {
    .card {
        min-width: 400px;
    }
}

@media screen and (min-width: 720px) {
    .arrow {
        display: unset;
        font-size: 4em;
        height: 350px;
        z-index: 100;
        position: absolute;
        top: calc(29vw + 100px);
        background-color: unset;
        border: 0;
    }
    #scrollBack {
        text-align: left;
        width: 4%;
        left: 0;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, .5) 100%);
    }
    
    #scrollForward {
        text-align: right;
        width: 5%;
        right: 0;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, .5) 100%);
    }
}

@media screen and (min-width: 960px) {
    h1 {
        display: inline-block;
        width: 55%;
        font-size: 8vw;
        text-align: left;
    }    
    #welcome {
        display: inline-block;
        width: 40%;
        margin: 0 auto;
        font-size: 2vw;
    }
    h2 {
        margin: 20px 0;
    }
    .arrow {
        top: calc(8vw + 2em);
    }
    .card {
        margin: 10px;
    }
    .card p {
        font-size: 1.2em;
        text-align: center;
    }
    #aboutMe p {
        font-size: 1.2em;
    }
    #projectsCardList {
        max-width: 96%;
        margin: 0 auto;
    }
}