* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: gray;
    padding: 10px;
    color: white;
}

#welcome {
    display: block;
    padding: 10px;
    width: 85%;
    font-size: 4vw;
    text-align: center;
    margin: 0 auto;
}

.arrow {
    display: inline-block;
    position: absolute;
    width: 6%;
    top: calc(2em +20px);
    height: 340px;
    font-size: 2em;
    margin: 0;
    z-index: 10;
    background-color: unset;
    border: 0;
}

#backArrow {
    text-align: left;
    left: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, .1) 100%);
}

#forwardArrow {
    text-align: right;
    right: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, .1) 100%);
}

.cardSlider {
    width: 100%;
    height: auto;
    padding: 20px;
    vertical-align: top;
    z-index: -10;
    white-space: nowrap;
    overflow: hidden;
}

.cardList {
    margin-left: 6.5%;
    list-style-type: none;
    padding: 0;
    display: inline-block;
    max-width: 92%;
}

#projectsCardList {
    position: relative;
    left: 0;
    transition: left .1s;
}

.card {
    vertical-align: top;
    display: inline-block;
    height: 320px;
    max-width: 400px;
    padding: 20px;
    margin: 10px 10px 10px 0;
    border-radius: 1em;
    border: 1px solid black;
    white-space: normal;
    flex: 1;
    box-shadow: 3px 3px 5px lightgrey;
}

.card p {
    font-size: 1.2em;
    text-align: center;
}

#aboutMe {
    padding: 0 20px;
    text-align: justify;
}

footer {
    margin: 40px 0 20px;
    width: 100%;
    text-align: center;
}

/* Headers */

h1 {
    display: block;
    font-size: 12vw;
    padding: 10px 10px 0;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin: 10px 0;
}

h3 {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 10px;
}

@media screen and (min-width: 960px) {
    h1 {
        display: inline-block;
        width: 55%;
        font-size: 8vw;
        text-align: left;
    }    
    #welcome {
        display: inline-block;
        width: 40%;
        margin: 0 auto;
        font-size: 2vw;
    }
    h2 {
        margin: 20px 0;
    }
    .arrow {
        font-size: 4em;
        height: 320px;
    }
    .card {
        margin: 10px;
    }
    .cardList {
        margin-left: 3%;
    }
}